@import '../../../styles/colors';
@import '../../../styles/sizes';
@import '../../../styles/mixins';

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 35px 0;
  letter-spacing: -0.02em;
}

.title_wrapper {
  position: relative;
  & h1 {
    font-family: 'Merriweather', serif;
  }
}

.counter {
  text-align: center;
  position: absolute;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 50%;
  background-color: $counter-color;
  color: #fff;
  top: -15px;
  right: -40px;
  font-weight: bold;
  font-size: 21px;
}
