@import '../../../../styles/colors';
@import '../../../../styles/sizes';
@import '../../../../styles/vars';

.wrapper {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #00000077;
  z-index: $top-layer;
  overflow: hidden;
}

.popup {
  max-width: 900px;
  width: auto;
  margin: auto;
  min-height: 400px;
  height: auto;
  max-height: calc(100vh - 100px);
  background-color: var(--brand-color-lightgrey);
  padding: 50px;
  box-sizing: border-box;
  font-size: 18px;
  position: relative;
  .close {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: url('../../../../assets/images/close_dark.svg') no-repeat center center #fff;
    background-size: 50%;
    position: absolute;
    top: -24px;
    right: -24px;
    cursor: pointer;
  }
  .image {
    width: 800px;
    height: 100%;
    max-height: calc(100vh - 200px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
