@import '../../../../../../styles/colors';
@import '../../../../../../styles/mixins';

.title {
  font-size: 14px;
  margin: 17px 0;
  color: var(--brand-color-darkish);
  font-weight: bold;
}

.content {
  @include unselectable;
  display: grid;
  grid-template-columns: repeat(auto-fit, 120px);
  grid-gap: 20px;
  box-sizing: border-box;
  font-size: 12px;
}