@import '../../../../../../styles/colors';
@import '../../../../../../styles/mixins';

.colors {
  @include unselectable;
  display: flex;
  .color {
    min-width: 32px;
    height: 32px;
    margin-right: 14px;
    border-radius: 50%;
    cursor: grab;
    transition: .1s;
    pointer-events: all;

    * {
      pointer-events: none;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      box-shadow: 0 2px 12px rgba(0, 0, 0, 0.15);
      transform: scale(1.5);
      transition: .1s;
    }

    &_white {
      border: 1px solid $brand-color-light;
    }
  }
}
