@import '../../../../../styles/mixins';
@import '../../../../../styles/colors';

.list {
  max-height: 150px;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  box-shadow: 0 4px 4px #AEBEC8;
  color: #000;
  background-color: #FFF;
  border-right: 3px solid #FFF;
  @include scrollbar;
  &::-webkit-scrollbar-track {
    margin: 3px 0;
  }
  .item {
    display: flex;
    align-items: center;
    font-size: 12px;
    text-align: left;
    padding: 5px 10px;
    cursor: pointer;
    &:hover {
      background-color: var(--brand-color-lightgrey);
    }
    .icon {
      flex-shrink: 0;
      & > * {
        display: block;
      }
    }
  }
}