@import '../../../../../styles/colors';
@import '../../../../../styles/mixins';
@import '../../../../../styles/sizes';

.previewer {
  display: grid;
  height: 100%;
  grid-template-columns: auto auto;
  grid-column-gap: $token;

  .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 6px;
    .description {
      margin-top: 20px;
      .name {
        display: block;
        font-size: 14px;
        font-weight: bold;
        line-height: 18px;
        margin-bottom: 12px;
        @include truncate(2);
      }
      .params {
        display: block;
        font-size: 12px;
        font-weight: 300;
        line-height: 16px;
        color: $gray-text;
        @include truncate(2);
      }
    }
  }
}
