@import '../../../../../../../styles/colors.scss';

.container {
  height: 36px;
  width: 36px;
  position: absolute;
  top: -5px;
  right: -5px;
  z-index: 14;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 45px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.liked {
  border-radius: 45px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#unliked {
  stroke: $brand-color-light;
}
#liked {
  fill: #ce5353;
  stroke: #ce5353;
}
