@import '../../../styles/vars';

.floating {
  position: fixed;
  left: 0;
  top: 0;
  z-index: $top-layer;
  display: flex;
  justify-content: space-between;
  min-height: 50px;
  border-radius: 5px;
  box-shadow: 0 2px 4px #aebec8;
  background-color: #fff;
  .tools {
    display: flex;
    img {
      max-height: 36px;
    }
  }
}
